body {
width: 100%;
background-color: #003565;
background-size: cover;
margin: 0 auto;
}

#pswdgen{
background-image: url("/mobile/passicon.png");
}

#mail {
  position:relative;
  margin-top: 5px;
  margin-bottom: 5px;
	width: 94%;
  margin: 0 auto;
  margin-top: 30px;
}

#search {
  position:relative;
  margin-top: 5px;
  margin-bottom: 5px;
	width: 94%;
  margin: 0 auto;
}

#social {
  position:relative;
  margin-top: 5px;
  margin-bottom: 85px;
	width: 94%;
  margin: 0 auto;
}

#spacer {
  height: 85px;
  width: 100%;
}

.app_row {
  position:relative;
	width: auto;
  margin: 0 auto;
  margin-bottom: 15px;
}
	

.group {
position: static;
top: 0;
size: relative;
width: 24%;
height: 70px;
margin-left: auto;
margin-top: 2.5px;
margin-right: auto;
font-size: 15px;
border-width: 0;
border-radius: 50px;
  background: #003565;
  box-shadow: inset 5px 5px 6px #002d56, 
              inset -5px -5px 6px #003d74;
text-align: center;
outline: none;
color: white;
}

  #buttons {
    width: auto;
    display: block;
    margin: 0 auto;
    margin-left: auto;
  }

.bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 75px;
background: #003565;
box-shadow: 5px 0px 10px #002d56;
}

.group3 {
position: relative;
top: 10px;
size: relative;
width: 100%;
height: 80px;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
font-size: 15px;
text-align: center;
border-color: #00000000;
border-width: 0px;
color: white;
border-radius: 50px;
background: #003565;
box-shadow:  5px 5px 10px #002d56, 
             -5px -5px 10px #003d74;
border-style: solid;
outline: none;
}

.donate {
positon: relative;
top: 10px;
size: relative;
width:10%;
height: 45px;
margin-left: 45%;
margin-right: 45%;
margin-bottom: 20;
font-size: 15px;
text-align: center;
border-color: #00000000;
border-width: 0px;
color: #ebcf34;
border-radius: 50px;
background: #003565;
box-shadow: 5px 5px 10px #002d56,
	    -5px -5px 10px #003d74;
border-style: solid;
outline: none;
}

.group:active {
  border-radius: 50px;
  background: #003565;
  box-shadow: inset 5px 5px 6px #002d56, 
              inset -5px -5px 6px #003d74;
  color: #1c77c3;;
  background-image: none;

}

.group3:active {
  border-radius: 50px;
  background: #003565;
  box-shadow: inset 5px 5px 6px #002d56, 
              inset -5px -5px 6px #003d74;
  color: #1c77c3;;

}

.input {
  display: block;
  position: relative;
  top: 0px;
  size: relative;
  width: 100%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  color: white;
  border-color: #003565;
  border-width: 10px;
  border-radius: 15px;
  background: #003565;
  box-shadow: inset 5px 5px 6px #002d56, 
              inset -5px -5px 6px #003d74;
  border-style: solid;
  outline: none;
  text-align: center;
}

#logo {
  display: block;
  position: relative;
  top: 8px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color:#00000000;
  border-width:5px;
border-radius: 150px;
background: #003565;
box-shadow:  5px 5px 8px #002d56, 
             -5px -5px 8px #003d74;
}

.search {
position: relative;
width: 100%;
  height: 55px;
  background-color: #4fb9c6ff; 
}

.top {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
background: #003565;
box-shadow: 5px 0px 10px #002d56;

}
.main{
  width: 94%;
  margin: 0 auto;
}

#back {
	background-color: #00000000;
	color: white;
	height: 100%;
	border-style: solid;
	border-color: #00000000;
border-radius: 15px;
background: #003565;
box-shadow: inset 5px 5px 10px #002d56, 
            inset -5px -5px 10px #003d74;
outline: none;
}

#back:active {
border-radius: 15px;
border-color: #002e58;
background: #1c77c3;
box-shadow: inset 5px 5px 0px #1c77c3, 
            inset -5px -5px 0px #1c77c3;
color: white;
}

h1 {
  top: 0;
	text-align: center;
	margin: 0 auto;
	font-family: Arial;
	color: white;
}

h2 {
  top: 0;
	text-align: center;
	margin: 0 auto;
	font-family: Arial;
	color: white;
}

h3 {
top: 0;
text-align: center;
margin: 0 auto;
  font-family: Arial;
  color: white;
}

p {
  top: 0;
  position: relative;
	text-align: center;
	margin: 0 auto;
	font-family: Arial;
	color: white;
}

a {
color: white;
margin: 0 auto;
}
